{% extends "base.html" %}
{% load static %}

{% block style %}
{% endblock style %}

{% block content %}

<div class="dt-content-wrapper">

    <!-- Site Content -->
    <div class="dt-content">
        <!-- Page Header -->
        <div class="dt-page__header">
            <h1 class="dt-page__title">Change Password</h1>
        </div>
        <!-- /page header -->
        {% for message in messages %}
        <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        <div id="content" class="p-4 p-md-5 pt-5">
            <form method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="inputEmail4">Old Password:</label>
                    <input type="password" class="form-control" name="o_pass">
                </div>
                <div class="form-group">
                    <label for="inputAddress">New Password:</label>
                    <input type="password" class="form-control" id="inputAddress" name="n_pass">
                </div>

                <div class="form-group">
                    <label for="inputAddress">Confirm New Password:</label>
                    <input type="Password" class="form-control" id="inputPassword" name="c_pass" autocomplete="false">
                </div>
    
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        
        </div>
       

            
    </div>

    <!-- Footer -->
    <footer class="dt-footer">
        Copyright Bitpaymax © 2021
    </footer>
    <!-- /footer -->
</div>
<!-- /site content wrapper -->


{% endblock content %}