




















<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %} 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Layer payment Python Kit</title>


	
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
  </head>
  <style type="text/css">
    .main {
      margin-left: 30px;
      font-family: Verdana, Geneva, sans-serif, serif;
    }
    .text {
      float: left;
      width: 180px;
    }
    .dv {
      margin-bottom: 5px;
    }
  </style>
  <body>
    <div class="main">
      <div>
        <img src="{% static 'logo.png' %}" />
      </div>
	  <br />
	  <br />
      <div class="dv">
       <label>Transaction ID: {{ txnid }}</label>
      </div>
      <div class="dv">
        <label>Full Name: {{ fullname }}</label>
      </div>
      <div class="dv">
        <label>E-mail: {{ email }}</label>
      </div>
      <div class="dv">
        <label>Mobile Number: {{ mobile }}</label>
      </div>
      <div class="dv">
        <label>Amount ({{ currency }}): {{ amount }}</label>
      </div>
      	
	  
    </div>
	
         
  </body>
</html>