{% extends "base.html" %}
{% load static %}

{% block style %}
{% endblock style %}

{% block content %}

<div class="dt-content-wrapper">

  <!-- Site Content -->
  <div class="dt-content">
    <!-- Page Header -->
    <div class="dt-page__header">
      <h1 class="dt-page__title">Create Transaction</h1>
    </div>
    <center>
      <div class="card" style="width: 18rem;">
        <div class="card-header" style="background-color: white;color: red;">
          Available Amount
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="color: white;"> {{ fund.available_fund }} $</li>
        </ul>
      </div>
    </center>
    <!-- /page header -->

    <!-- Grid -->
    <div class="col px-md-5">
      <form method="POST">{% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Username:</label>
          <input type="text" name="username" value="{{user.username}}" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email" readonly>
        </div>

        <div class="form-group">
          <label for="currencyId">Currency:</label>
          <select onchange="currencyChange()" class="form-control" aria-label=".form-select-lg example" name="currency" id="currencyId"
            required>
            <option value = "0" selected>Select Currency</option>
            <option value="1">INR</option>
            <option value="2">TRX</option>
            <option value="3">ETH</option>
            <option value="4">BTC</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Amount($):</label>
          <input type="number" number="amount" class="form-control" name="dollorAmount" id="dollorAmount" placeholder="Amount" required>
        </div>


        <!-- <div class="form-group">
          <label for="exampleInputEmail1" id="currencyLabel">Estimated Amount:</label>
          <input type="text" name="currencyAmount" class="form-control" id="estimatedAmount" aria-describedby="emailHelp"
            readonly required>

        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div class="container mx-auto text-center mt-4" v-if="name && amount" style="background-color: hotpink;"> 
        
        {% if payment %}

        <div class="dv">
            <input id="submit" name="submit" value="Pay" type="button" onclick="triggerLayer();">
        </div>
        <div id="layerloader" class="dv">{{ error }}</div>
        <form method="post" style="display: none" name="layer_payment_int_form">{% csrf_token %}
            <input type="hidden" name="layer_pay_token_id" value="{{ token_id }}">
            <input type="hidden" name="tranid" value="{{ txnid }}">
            <input type="hidden" name="layer_order_amount" value="{{ amount }}">
            <input type="hidden" id="layer_payment_id" name="layer_payment_id" value="">
            <input type="hidden" id="fallback_url" name="fallback_url" value="">
            <input type="hidden" name="hash" value="{{ hash }}">
        </form>  
        
        {% endif %}
    </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{{ remote_script }}"></script>
  <script type="text/javascript">
    var layer_params = {payment_token_id:'{{ token_id }}',accesskey:'{{ accesskey }}'};
    function triggerLayer() {

        Layer.checkout(
        {
            token: layer_params.payment_token_id,
            accesskey: layer_params.accesskey,
            theme: {
                logo : "{% static 'assets/images/bitpaylogohome2.png' %}",
                color: "#3d9080",
                error_color : "#ff2b2b"
          }			
        },
        function (response) {
            console.log(response)
            if(response !== null || response.length > 0 ){
                if(response.payment_id !== undefined){
                    document.getElementById('layer_payment_id').value = response.payment_id;
                }
                if (response.status == "captured") {
                        
                        // response.payment_token_id
                        // response.payment_id
                        console.log("payment cap")
             
                     } else if (response.status == "created") {

                        console.log("payment created")
                      
                     } else if (response.status == "pending") {
             
             
                     } else if (response.status == "failed") {
             
             
                     } else if (response.status == "cancelled") {
                      console.log("payment canceled")
                     }
            
            }
            document.layer_payment_int_form.submit();
        },
        function (err) {
            alert(err.message);
        });
    }
</script>


  <!-- Footer -->
  <footer class="dt-footer">
    Copyright Bitpaymax © 2021
  </footer>
  <!-- /footer -->
</div>
<!-- /site content wrapper -->



{% endblock content %}


